   <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>

h3 {text-align: center;}
body {
  background-color: lightgrey;
  color: blue;
  background-image: url('background-1.jpg');
}

h1 {
  background-color: black;
  color: white;
}
        </style>
    </head>
    <body>
<h3>About us</h3>

<p1>OnSite Property Manager™ software was initially launched in 2002 by Ideal Applications LLC because there was a lack of affordable property management software available for those with less than 500 units.<br>

As beginning rental property owners, investors, and managers ourselves, we wanted a way to manage our properties that would not be cost-prohibitive and cumbersome to use.<br>

We wanted to develop software that:<br>
    </p1>
<br>
<p2>
.... Was web-based so we could login from anywhere<br>

.... Was easy to use, colorful, and simple<br>

.... Required no additional fees for upgrades<br>

.... Required no previous experience to use<br>

.... Required no long term contract<br>

.... Required no startup fees<br>

.... Was powerful enough to grow with our business<br>
    </p2>
<br>
<p3>
As property managers and owners, our software needs are as unique as the properties themselves, and when you are just starting out, or growing as you go, the heavy complexity of some software applications can be overwhelming.<br>

We try to keep it simple. Simple reports, simple input of data, simple Rent Roll format, and over time we just keep getting simply better!</p3>
        <script src="" async defer></script>
    </body>
</html>