<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Apartments</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .column {
                float: left;
                width: 50%;
              }
              
              /* Clear floats after the columns */
              .row:after {
                content: "";
                display: table;
                clear: both;
              }
              .ig{
                .button4 {background-color: #e7e7e7; color: black;} /* Gray *
              }
        </style>
    </head>
    <body>
        <div class="row" style="background-color: grey">
            <div class="column">
                {% load static %}
                <img src="{% static "img/appart-2.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
            <div class="column">
                {% load static %}
                <img src="{% static "img/appart-8.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
            <div class="column">
                {% load static %}
                <img src="{% static "img/appart-4.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
            <div class="column">
                {% load static %}
                <img src="{% static "img/appart-8.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
            <div class="column">
                {% load static %}
                <img src="{% static "img/appart-10.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
            <div class="column">
                {% load static %}
                <img src="{% static "img/Homegreen.jpg"%}"width="40%",height="40%"></img>
                <h2>
                    ownername: John<br>
                    Address: Central park,Newyork<br>
                    Contact No: 123456789<br>
                    Price : 2500$
                </h2>
                <button class="ig"><a href='/checkout'>BookNow</a></button>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>